<div>
  <input type="file" accept="application/vnd.ms-excel" (change)="postXLS($event)">
  <!--application/vnd.ms-excel-->
  <!--application/vnd.openxmlformats-officedocument.spreadsheetml.sheet-->
</div>

<div>
  <button (click)="getFiles()">
    Загрузить файлы
  </button>
</div>
<div>
  <list *ngIf="this.files">
    <li *ngFor="let file of this.files" (click)="getDataFromFile(file)"><button>{{file}}</button></li>
  </list>
</div>
<table *ngIf="this.fileData">
  <tr>
    <th>Б/сч</th>
    <th>ВХОДЯЩЕЕ САЛЬДО Актив</th>
    <th>ВХОДЯЩЕЕ САЛЬДО Пассив</th>
    <th>ОБОРОТЫ Дебит</th>
    <th>ОБОРОТЫ Кредит</th>
    <th>ИСХОДЯЩЕЕ САЛЬДО Актив</th>
    <th>ИСХОДЯЩЕЕ САЛЬДО Пассив</th>
    <th>Класс</th>
  </tr>
  <tr *ngFor="let row of fileData">
    <td *ngFor="let value of row">{{value}}</td>
  </tr>
</table>
